<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRSa83wSwcUPPcg03xKfZCftbZoE9gl9M</string>
	<key>GCM_SENDER_ID</key>
	<string>58936371871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dot.kuki</string>
	<key>PROJECT_ID</key>
	<string>kuki-app-a3e0f</string>
	<key>STORAGE_BUCKET</key>
	<string>kuki-app-a3e0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58936371871:ios:b3a48d107f10ada66210aa</string>
</dict>
</plist>
